@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--disable-200);
        cursor: pointer;
        border-radius: var(--radius-sm);
    }
}