// height
$height-sm : 2.25rem;
$height-md : 2.625rem;
$height-lg : 3.125rem;

// font-size
$font-sm : 0.875rem;
$font-md : 1rem;
$font-lg : 1.125rem;

// borders
$border-w-sm : 0.0625rem;
$border-w-md : 0.125rem;
$border-w-lg : 0.25rem;