// height
$height-sm : 2.25rem;
$height-md : 2.625rem;
$height-lg : 3.125rem;

// font-size
$font-sm : 0.875rem;
$font-md : 1rem;
$font-lg : 1.125rem;

// colors
$init-color : #ced4da;
$disabled-bg-color : #f1f3f5;
$disabled-font-color : #909296;

// borders
$border : 0.0625rem;