@import '../../styles/mixin/input';

.button {
    border: none;
    outline: none;
    color: #ffffff;
    box-shadow: var(--shadow);
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    cursor: pointer;

    &.button_disabled {
        cursor: not-allowed;
    }

    &_sm {
        @include input-sm
    }

    &_md {
        @include input-md
    }

    &_lg {
        @include input-lg
    }

    &_contained {
        background: var(--primary-color-500);
        border: 2px solid var(--primary-color-500);

        &:hover {
            background: var(--primary-color-700);
            border: 2px solid var(--primary-color-700);
        }

        &:disabled {
            user-select: none;
            background: var(--primary-color-300);
            border-color: var(--primary-color-300);
            color: #ffffff;
        }
    }

    &_outlined {
        background: transparent;
        border: 2px solid var(--primary-color-500);
        color: var(--primary-color-500);

        &:hover {
            background: var(--primary-color-700);
            border: 2px solid var(--primary-color-700);
            color: #ffffff;
        }

        &:disabled {
            user-select: none;
            background: var(--primary-color-100);
            border-color: var(--primary-color-300);
            color: var(--primary-color-300);
        }
    }

    &_link {
        background: transparent;
        color: var(--primary-color-500);
        text-decoration: underline;
        box-shadow: var(--shadow-none);


        &:active {
            color: var(--primary-color-700);
        }

        &:disabled {
            user-select: none;
            color: var(--primary-color-300);
        }
    }

    &_success {
        background: var(--success-500);
        border: 2px solid var(--success-500);

        &:hover {
            background: var(--success-700);
            border: 2px solid var(--success-700);
        }

        &:disabled {
            user-select: none;
            background: var(--success-300);
            border-color: var(--success-300);
        }
    }

    &_danger {
        background: var(--red-500);
        border: 2px solid var(--red-500);

        &:hover {
            background: var(--red-700);
            border: 2px solid var(--red-700);
        }

        &:disabled {
            user-select: none;
            background: var(--red-300);
            border-color: var(--red-300);
        }
    }

    &_warning {
        background: var(--warning-500);
        border: 2px solid var(--warning-500);

        &:hover {
            background: var(--warning-700);
            border: 2px solid var(--warning-700);
        }

        &:disabled {
            user-select: none;
            background: var(--warning-300);
            border-color: var(--warning-300);
        }
    }
}