.switch {
    position: relative;
    cursor: pointer;
    border-radius: 9999px;
    overflow: hidden;

    &_ball {
        position: absolute;
        top: 4px;
        z-index: 30;
        display: inline-block;
        height: 22px;
        width: 22px;
        border-radius: 9999px;
        background-color: var(--primary-color-500);
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    &_contained {
        position: relative;
        border-width: 2px;
        background-color: var(--disable-200);
    }

    &_outlined {
        position: relative;
        border: 2px solid var(--primary-color-500);
    }

    &_disabled {
        cursor: not-allowed;

        .switch_ball {
            background-color: var(--primary-color-300);
        }

        &.switch_outlined {
            border-color: var(--primary-color-300);
        }

    }

    &_error{
        border-color: var(--red-500);

        .switch_ball{
            background-color: var(--red-500);
        }
    }

    &_sm {
        width: 40px;
        height: 20px;
        padding: 2px;

        .switch_ball {
            width: 15px;
            height: 15px;
            top: unset;

            &.switch_ball__left {
                left: 4px;
            }

            &.switch_ball__right {
               right: 4px;
            }
        }
    }

    &_md {
        width: 51px;
        height: 30px;

        .switch_ball {
            width: 22px;
            height: 22px;
            transition: position;

            &.switch_ball__left {
                left: 4px;
            }

            &.switch_ball__right {
                right: 4px;
            }
        }
    }

    &_lg {
        width: 65px;
        height: 35px;

        .switch_ball {
            width: 24px;
            height: 24px;

            &.switch_ball__left {
                left: 4px;
            }

            &.switch_ball__right {
                right: 4px;
            }
        }
    }

    .switch_input {
        position: absolute;
        left: 0px;
        top: 50%;
        z-index: 31;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        transform: translateY(-50%);
    }
}