@import '../../styles/mixin/scrollbar';

.modal_container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #0000009a;
    z-index: 999999;


    .modal {
        display: flex;
        position: relative;
        padding: 1rem;
        background-color: #ffffff;
        flex-direction: column;
        border-radius: 0.25rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(16px);

        &_sm {
            width: 80%;

            @media (min-width: 640px) {
                width: 70%;
            }

            @media (min-width: 768px) {
                width: 60%;
            }

            @media (min-width: 1024px) {
                width: 50%;
            }

            @media (min-width: 1280px) {
                width: 40%;
            }


        }

        &_md {
            width: 50%;
            height: 50%;
        }

        &_lg {
            width: 70%;
            height: 70%;
        }

        .modal_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 1;

            .modal_title {
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 700;
                margin: 0;
            }

            .modal_close {
              cursor: pointer;
            }
        }

        .modal_body {
            @include scrollbar;
            min-height: fit-content;
            max-height: 500px;
            overflow-y: scroll;
            flex: 1 1 0%;
        }

        .modal_footer {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
    }

    &.modal_top {
        align-items: flex-start;
    }

    &.modal_center {
        align-items: center;
    }

    &.modal_bottom {
        align-items: flex-end;
    }
}