@import '../../styles/mixin/breakpoints';
@import '../../styles/mixin/scrollbar';

.drawer_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0000005a;
    z-index: 999999;

    .drawer {
        background-color: #ffffff;
        box-shadow: var(--shadow-sm);
        padding: 1rem;
        backdrop-filter: blur(16px);
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &_sm {
            width: 100%;

            @include breakpoint(sm) {
                width: 70%;
            }

            @include breakpoint(md) {
                width: 50%;
            }

            @include breakpoint(lg) {
                width: 30%;
            }
        }

        &_md {
            width: 100%;

            @include breakpoint(sm) {
                width: 70%;
            }

            @include breakpoint(md) {
                width: 60%;
            }

            @include breakpoint(lg) {
                width: 40%;
            }
        }

        &_lg {
            width: 100%;

            @include breakpoint(sm) {
                width: 70%;
            }

            @include breakpoint(md) {
                width: 60%;
            }

            @include breakpoint(lg) {
                width: 50%;
            }
        }

        .drawer_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .drawer_title {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 2rem;
                margin: 0;
            }

            .drawer_close {
                cursor: pointer;
                width: 24px;
                height: 24px;

                &:focus {
                    outline: 3px solid black;
                    border-radius: var(--radius-md);
                }
            }
        }

        .drawer_body {
            @include scrollbar;
            min-height: fit-content;
            padding-right: 0.75rem;
            overflow-y: scroll;
            max-height: calc(100% - 32px - 44px);
            flex: 1;
        }

        .drawer_footer {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
    }

    &.drawer_top {
        align-items: flex-start;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        .drawer {
            width: 100vw;

            &.drawer_sm {
                height: 100%;

                @include breakpoint(sm) {
                    height: 70%;
                }

                @include breakpoint(md) {
                    height: 50%;
                }

                @include breakpoint(lg) {
                    height: 30%;
                }
            }

            &.drawer_md {
                height: 100%;

                @include breakpoint(sm) {
                    height: 70%;
                }

                @include breakpoint(md) {
                    height: 60%;
                }

                @include breakpoint(lg) {
                    height: 50%;
                }
            }

            &.drawer_lg {
                height: 70%;
            }
        }
    }

    &.drawer_bottom {
        align-items: flex-end;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        .drawer {
            width: 100vw;

            &.drawer_sm {
                height: 100%;

                @include breakpoint(sm) {
                    height: 70%;
                }

                @include breakpoint(md) {
                    height: 50%;
                }

                @include breakpoint(lg) {
                    height: 30%;
                }
            }

            &.drawer_md {
                height: 100%;

                @include breakpoint(sm) {
                    height: 70%;
                }

                @include breakpoint(md) {
                    height: 60%;
                }

                @include breakpoint(lg) {
                    height: 50%;
                }
            }

            &.drawer_lg {
                height: 100%;

                @include breakpoint(sm) {
                    height: 80%;
                }

                @include breakpoint(md) {
                    height: 70%;
                }

                @include breakpoint(lg) {
                    height: 60%;
                }
            }
        }
    }

    &.drawer_left {
        justify-content: flex-start;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &.drawer_right {
        justify-content: flex-end;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}