@import '../../styles/mixin/input';

.timepicker_wrapper {
  position: relative;

  .timepicker_label{
    position: relative;

    &_sm{
      @include label-sm;
    }

    &_md{
      @include label-md;
    }

    &_lg{
      @include label-lg;
    }
  }

  .timepicker_description{

    &_sm{
      @include input-desc-sm;
    }

    &_md{
      @include input-desc-md;
    }

    &_lg{
      @include input-desc-lg;
    }
  }

  .timepicker_container {
    position: relative;

    .timepicker_start {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 11;
    }

    .timepicker_end {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 11;
    }

    .timepicker_start,
    .timepicker_end {
      .timepicker_icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > svg {
          cursor: pointer;
        }

        &__disabled {
          color: var(--disable-500);
          cursor: default;
          pointer-events: none;
        }
      }
    }

    .timepicker_input {
      position: absolute !important;
      top: 0;
      width: 100% !important;
      height: 100% !important;
      outline: none;
      z-index: 2;
      all: unset;
      top: 0;
      z-index: 11;
      padding-inline: 0.875rem;
      box-sizing: border-box;

      &_hidden {
        display: none;
      }
    }

    .timepicker_main {
      cursor: default;
      &_sm {
        @include input-sm;
        display: flex;
        align-items: center;
      }

      &_md {
        @include input-md;
        display: flex;
        align-items: center;
      }

      &_lg {
        @include input-lg;
        display: flex;
        align-items: center;
      }
    }
  }

  
  .timepicker_error{
    
    &_sm{
      @include input-error-sm;
    }

    &_md{
      @include input-error-md;
    }

    &_lg{
      @include input-error-lg;
    }
  }

}