@import '../../styles/mixin/input';

.textfield_container {
  position: relative;

  .textfield_start {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textfield_end {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textfield_start,
  .textfield_end {
    .textfield_icon {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__disabled {
        color: var(--disable-500);
        cursor: default;
        pointer-events: none;
      }
    }
  }

  .textfield_main {
    &_sm {
      @include input-sm;
    }

    &_md {
      @include input-md;
    }

    &_lg {
      @include input-lg;
    }
  }
}