@import '../../styles/mixin/input';

.chip {
    cursor: default;
    box-shadow: var(--shadow);
    border-radius: var(--radius-full);
    user-select: none;
    position: relative;
    overflow: hidden;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid var(--primary-color-500);

    &_sm {
        font-size: var(--font-sm);
        padding-block: 4px;
        padding-inline: 6px;
        height: 24px;

        .chip_delete {
            width: 14px;
            height: 14px;

            svg {
                width: 100%;
                height: 100%;
                cursor: pointer;
                color: #ffffff;
            }
        }
    }

    &_md {
        font-size: var(--font-md);
        padding-block: 8px;
        padding-inline: 10px;
        height: 32px;

        .chip_delete {
            width: 18px;
            height: 18px;

            svg {
                width: 100%;
                height: 100%;
                cursor: pointer;
                color: #ffffff;
            }
        }
    }

    &_lg {
        font-size: var(--font-lg);
        padding-block: 12px;
        padding-inline: 14px;
        height: 40px;

        .chip_delete {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                cursor: pointer;
                color: #ffffff;
            }
        }
    }

    &_contained {
        background: var(--primary-color-500);
        color: #ffffff;
    }

    &_outlined {
        color: var(--primary-color-500);
    }

    &_clickable {
        cursor: pointer;
    }

    .chip_delete {
        z-index: 30;
        background: var(--primary-color-500);
        border-radius: var(--radius-full);
    }

}