@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-100: #d3d9f0;
  --primary-color-200: #a8b3e0;
  --primary-color-300: #7c8dd1;
  --primary-color-400: #5167c1;
  --primary-color-500: #2541b2;
  --primary-color-600: #1e348e;
  --primary-color-700: #16276b;
  --primary-color-800: #0f1a47;
  --primary-color-900: #070d24;
}


span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}


#rtc-portal {
  overflow: hidden;
  div[class*='modal'] {
    div[class*='modal'] {
      animation: popOut .5s ease-in-out;
    }
  }

  div[class*='drawer_left'] {
    div[class*='drawer'] {
      animation: fromLeft .5s ease-in-out;
    }
  }

  div[class*='drawer_right'] {
    div[class*='drawer'] {
      animation: fromRight .5s ease-in-out;
    }
  }

  div[class*='drawer_top'] {
    div[class*='drawer'] {
      animation: fromTop .5s ease-in-out;
    }
  }

  div[class*='drawer_bottom'] {
    div[class*='drawer'] {
      animation: fromBottom .5s ease-in-out;
    }
  }
}

@keyframes fromTop {
  from {
      // opacity: 0;
      transform: translateY(-100%);
    }
    to {
      // opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fromBottom {
  from {
    // opacity: 0;
    transform: translateY(100%);
  }
  to {
    // opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
    // opacity: 0;
    transform: translateX(-100%);
  }
  to {
    // opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    // opacity: 0;
    transform: translateX(100%);
  }
  to {
    // opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popOut {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}